# App
APP_ENV=production
APP_DEBUG=false
APP_KEY=base64:RgQBNRxAN4U16yhIP0qEewYwntS5ngGNmtY5vT6uod8=                       
APP_URL=

# Database
DB_ROOT_PASSWORD=
DB_DATABASE=
DB_USERNAME=
DB_PASSWORD=
DB_PORT=

# Frontend
VITE_API_URL=

# SSO 
SSO_PUBLIC_KEY=
SSO_CLIENT_ID=
