ris_backup.sql
.env
.env.production
.DS_Store
*.zip
docker-compose.yml
docker-compose.dev.yml
registrar-frontend/certs/
/vendor/
/node_modules/
/storage/logs/*.bak
*.bak_*
.env.staging
!registrar-frontend/.env.staging
frontend/node_modules/
frontend/dist/
backend/bootstrap/cache/*
test-results/
playwright-report/
