APP_NAME=Laravel
APP_ENV=local
APP_KEY=base64:0RumAJY2a0JBZtLgp/M2xKUtXsSC+J1GaGP0WN5C/Hk=
APP_DEBUG=true
APP_URL=https://localhost

# aws
DB_CONNECTION=mysql
DB_HOST=ris-database.xxxxxxxx.ap-southeast-1.rds.amazonaws.com
DB_PORT=3306
DB_DATABASE=registrar_information_system
DB_USERNAME=risadmin
DB_PASSWORD=YOUR_RDS_PASSWORD
# MYSQL_ATTR_SSL_CA=/etc/ssl/certs/ca-certificates.crt
DB_ROOT_PASSWORD=YOUR_RDS_ROOT_PASSWORD

SSO_BASE_URL=https://identity-provider.isaxbsit2027.com
SSO_CLIENT_ID=d4695ef1-ac43-45c0-b274-15633f63274a
SSO_CLIENT_SECRET=SSO_CLIENT_SECRET

SSO_SUPERADMIN_EMAIL=teamtech4ward.ris2027@gmail.com
SSO_SUPERADMIN_PASSWORD=SSO_SUPERADMIN_PASSWORD

# -------------------------------------------------------
# Reverb (WebSocket)
# -------------------------------------------------------
BROADCAST_CONNECTION=reverb
REVERB_APP_ID=668808
REVERB_APP_KEY=REVERB_APP_KEY
REVERB_APP_SECRET=REVERB_APP_SECRET
REVERB_HOST=localhost #0.0.0.0
REVERB_PORT=8080
REVERB_SCHEME=http

VITE_API_URL=https://localhost/api
# VITE_SSO_LOGIN_URL=https://identity-provider.isaxbsit2027.com/login?client_id=d4695ef1-ac43-45c0-b274-15633f63274a
VITE_SSO_LOGIN_URL=https://identity-provider.isaxbsit2027.com/api/v1/auth/authorize?client_id=d4695ef1-ac43-45c0-b274-15633f63274a
VITE_REVERB_HOST=localhost
VITE_REVERB_APP_KEY=VITE_REVERB_APP_KEY
VITE_REVERB_PORT=443
VITE_REVERB_SCHEME=https

SANCTUM_STATEFUL_DOMAINS=localhost
SESSION_DOMAIN=localhost

OGOS_BASE_URL=https://staging-api-guisis.dllbsit2027.com/api/v1
OGOS_CLIENT_ID=1154730f-044e-4b0b-9f6d-f507494d80d5
OGOS_CLIENT_SECRET=OGOS_CLIENT_SECRET

QUEUE_CONNECTION=database

# redis
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=null
CACHE_STORE=redis
SESSION_DRIVER=redis
REDIS_CLIENT=predis

# ANTHROPIC_API_KEY=ANTHROPIC_API_KEY
ANTHROPIC_API_KEY=
SESSION_SECURE_COOKIE=false
SESSION_SAME_SITE=Lax

# Amazon S3 (replaces Azure Blob)
FILESYSTEM_DISK=s3
AWS_ACCESS_KEY_ID=YOUR_AWS_ACCESS_KEY
AWS_SECRET_ACCESS_KEY=YOUR_AWS_SECRET_KEY
AWS_DEFAULT_REGION=ap-southeast-1
AWS_BUCKET=ris-file-storage


# ALUMNI_API_URL=http://localhost/api
# ALUMNI_API_TOKEN=1|lyXSPwWmlf5YYbHZVIbmTR1MhKHhS7F3eZUWU2Ur
# Alumni System (PUPTAPS) Integration
ALUMNI_API_URL=http://host.docker.internal/api
ALUMNI_API_TOKEN=ALUMNI_API_TOKEN

# OCMS_BASE_URL=https://clinic-ms.inaebsit2027.com
# OCMS_CLIENT_ID=c8e5a9b2f0c3e4f6a7b8c9d0e1f2a3b4c5d6e7f8901234567890abcdef12121
# OCMS_CLIENT_SECRET=ris

OCMS_BASE_URL=https://clinic-ms.inaebsit2027.com
OCMS_CLIENT_ID=ris
OCMS_CLIENT_SECRET=OCMS_CLIENT_SECRET

# Cashier System (PUP Taguig OR Verification)
# Leave CASHIER_API_KEY blank to enable mock mode (bypass verification)
# CASHIER_API_KEY=CASHIER_API_KEY
CASHIER_API_KEY=
CASHIER_API_URL=https://puptec.ojt-ims-bsit.net/api/verify-payment

# Single-use OR enforcement
# false = allow reuse (testing mode)
# true  = each OR can only be used once (production)
CASHIER_SINGLE_USE=false
ALUMNI_MOCK=true

SSO_API_KEY=SSO_API_KEY