APP_NAME=RIS
APP_ENV=local
APP_KEY=                        # Run: php artisan key:generate
APP_DEBUG=true
APP_URL=http://localhost

DB_CONNECTION=mysql
DB_HOST=ris_db
DB_PORT=3306
DB_DATABASE=registrar_information_system
DB_USERNAME=                    # Same as root .env DB_USERNAME
DB_PASSWORD=                    # Same as root .env DB_PASSWORD

SSO_BASE_URL=https://identity-provider.isaxbsit2027.com
SSO_CLIENT_ID=58f5b2b3-a5fb-4c63-a5c1-18604c38d0d7
SSO_CLIENT_SECRET=              # Ask team lead for this
SSO_SUPERADMIN_EMAIL=           # Ask team lead for this
SSO_SUPERADMIN_PASSWORD=        # Ask team lead for this

SANCTUM_STATEFUL_DOMAINS=localhost
SESSION_DOMAIN=localhost